@charset "utf-8";
.main{
    width: 325px;
    height: 400px;
    background: #525a5a;
    margin: 150px auto;
    .m_one{
        font-size: 16px;
        font-weight: bold;
        color: #fff;
        padding: 14px 20px;
    }
    .m_two{
        padding: 5px 20px;
        color: #fff;
        p:nth-of-type(1){
            float: left;
        }
        p:nth-of-type(2){
            float: right;
        }
    }
    .m_three{
        padding: 5px 20px;
        margin-top: 20px;
        position: relative;
        select{
            width: 270px;
            height: 35px;
            border: none;
        }
        .dingwei{
            color: #808080;
            position: absolute;
            top:4px;
            left: 230px;
            height: 35px;
            line-height: 35px;
            font-size: 16px;
            border-right: 1px solid #808080;
            padding: 0 5px;
        }
    }
    .m_four{
        height: 40px;
        line-height: 40px;
        background: #0094ef;
        color: #fff;
        margin: 5px 25px;
        text-align: center;
        margin-top: 15px;
    }
    .m_five{
        text-align: center;
        color: #cecece;
        padding: 15px 35px;
    }
}
